*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, a, p, h1, h2, div, img{
    margin: 0;
    padding: 0;
}
button, input, select, textarea{
    cursor: pointer;
    margin: 0;
    padding: 0;
}